html,
body {
  border: 0;
  margin: 0;
}

body {
  font-family: 'PT Sans', sans-serif;
  width: 100%;
  height: 100%;
  background-color: #1d1d22;
}

form {
  width: 40%;
  margin: 15px auto;
  padding: 15px 35px;
  color: #fdfeff;
  background-color: #18181b;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  box-shadow: 0 0 8px#999999;
  box-sizing: border-box;
}

form h1 {
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  color: #20a0eb;
  padding-top: 0;
  margin-top: 0;
}

input,
select {
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
}

.group {
  position: relative;
  margin: 40px 0;
  box-sizing: border-box;
}

.group input,
.group select {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
}

.group select option {
  color: #ededee;
  background-color: #22232a;
}

.group input:focus,
.group select:focus {
  outline: none;
}

.group input:focus~label,
.group select:focus~label,
.group input:valid~label,
.group select:valid~label {
  top: -14px;
  font-size: 12px;
  color: #2196f3;
  /*color: #04c484;*/
}

.group input:focus~.bar:before,
.group select:focus~.bar:before {
  width: 100%;
}

.group label {
  color: #c6c6c6;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
}

.group .bar {
  position: relative;
  display: block;
}

.group .bar:before {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background-color: #2196f3;
  /*background-color: #04c484;*/
  transition: 300ms ease all;
  left: 0%;
}

.btn {
  background: #fff;
  color: #959595;
  border: none;
  padding: 10px 20px;
  font-size: 1.1em;
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn-box {
  text-align: center;
  margin: 20px 10px;
}

.btn.btn-submit {
  cursor: pointer;
  background-color: #2196f3;
  color: #deeffd;
}

.btn.btn-submit:hover {
  background-color: #0d8bf1;
  color: #fff;
}

.btn.btn-submit:active {
  background-color: #2196f3;
  color: #061e31;
}

.btn.btn-cancel {
  background: #eee;
}

.btn.btn-cancel:hover {
  background: #e1e1e1;
  color: #8b8b8b;
}